In [1]:
# Standard imports
import os
import pandas as pd

from IPython.display import display, HTML

# Custom imports
import config as c

In [3]:
os.path.isfile(c.msme_dta)

True

In [4]:
def read_stata_file(dta, columns):
    if len(columns)==0:
        columns = None
    else:
        pass
    
    df = pd.read_stata(dta, columns=columns)

    return df

In [22]:
cols = ['ls_index', 'county11', 'eg16_1'] #Columns from the STATA file to read in. If left blank, all columns are read in.
#cols = []
df = read_stata_file(c.msme_dta, cols)

In [23]:
print('DF Shape: {} rows x {} columns'.format(df.shape[0], df.shape[1]))
print(display(HTML(df.head(5).to_html())))

DF Shape: 24164 rows x 3 columns

None

In [29]:
df = df.sort_values('eg16_1')
df_gr = df.groupby('eg16_1').agg(['count'])
print(display(HTML(df.head(10).to_html())))
print(display(HTML(df_gr.head(10).to_html())))

None

None